{% extends 'base.html' %}
{% block content %}

<h1>Listing - {{ item.item_name }}</h1>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price: $</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Shop:</strong> {{ item.shop.shop_name }}</p>

<h2>Edit Item</h2>

<form method="POST" action="{{ url_for('main.item_detail', item_id = item.id) }}">
	{{ form.csrf_token }}
	<fieldset>
		<legend>Please enter your information:</legend>

		{{ form.item_name.label }}
		{{ form.item_name }}

		{{ form.price.label }}
		{{ form.price }}

		{{ form.category.label }}
		{{ form.category }}

		{{ form.photo_url.label }}
		{{ form.photo_url }}

		{{ form.shop.label }}
		{{ form.shop }}

		{{ form.submit }}
	</fieldset>
</form>

{% endblock %}